*{margin:0; padding:0;}

body{background:#323542; font-family:Arial, Helvetica, sans-serif;}
.formcontent{color:#fff; }

.ui-content form input[type=text]{background-color:#474a55; /*background:#474a55 url(../img/usericon.png) no-repeat scroll 10px 9px / 9% auto ;width: 94%;margin-bottom:5px;*/ padding:12px 3% 10px 3%; color:#fff; font-size:14px; border:none; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -khtml-border-radius:4px;   font-family:Arial, Helvetica, sans-serif;}

.ui-content form input[type=email]{background-color:#474a55; /*background:#474a55 url(../img/emailicon.png) no-repeat scroll 10px 14px / 11% auto width: 94%;margin-bottom:5px;*/ padding:12px 3% 10px 3%; color:#fff; font-size:14px; border:none; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -khtml-border-radius:4px;   font-family:Arial, Helvetica, sans-serif;}
.ui-content form input[type=password]{background-color:#474a55; /*background:#474a55 url(../img/lockicon.png) no-repeat scroll 10px 9px / 10% auto width: 94%;margin-bottom:5px;*/ padding:12px 3% 10px 3%; color:#fff; font-size:14px; border:none; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -khtml-border-radius:4px;  font-family:Arial, Helvetica, sans-serif; }



.agreetxt{clear:both; padding:15px 0; font-size:14px; color:#6d6f76;}

.agreetxt input[type=checkbox]{float: left;    margin: 2px 5px 0 0;}
.agreetxt span{float:left; padding:4px 0 0 36px;}

form a.button_form,#signup .ui-btn{ text-align:center; padding:10px 0; color:#fff; font-size:12px; border:none; border-radius:4px; -webkit-border-radius:4px; -khtml-border-radius:4px; margin:5px auto;  font-family:Arial, Helvetica, sans-serif; cursor:pointer; background:#0bd38a;}

.forgotlink{clear:both; padding:15px 0; font-size:14px; color:#6d6f76;}
.forgotlink a{color:#6d6f76;text-decoration:none;}
.sinuplink{float:right; text-decoration:underline;}
.copyrighttxt{ font-size:12px; clear:both; color:#fff; padding:70px 0 0 0; text-align:center;}

.iconblock{clear:both; padding-bottom:10px; clear:both;}
.iconblock img {border: 1px solid #fff; border-radius: 5px; float: left;margin:7px 1%;  text-align: center; width: 30%; }
.iconblock a.resturantblock img {margin-right:0;}
.clear{clear:both;}
.cakeiconblock img{margin-left:50px}

.mainbg{background:url(../img/mainimg.png) repeat; background-size:cover;}

.termstitle,#eventListPage h1.ui-title{text-align:left; border-bottom:1px solid #fff; text-align:center; /*padding:10px;*/ margin:15px auto;  width:85%; }
.formcontent p{font-size:12px; line-height:18px; padding-bottom:20px;}

.eventblock{padding:10px;/* width: 22%;*/ margin: auto; color:#fff; float:none; }
.eventblock ul{clear:both; list-style:none; padding:10px 0 0 0;}
.eventblock li{/*background: none repeat scroll 0 0 rgba(0, 0, 0, 0.21); */   border-width:0 0 1px 0; border-color:fff;    float: left;
   /* padding: 10px 3%;*/    width: 96%;}

.eventblock h2{font-size:14px; padding:0px 0 0 0; color: #797b81;text-decoration: none;}
.eventblock h2 a{color: #797b81; font-weight:bold;text-decoration: none;}
.eventblock h3{ font-size:12px; padding:5px 0 0 0;color: #FFFFFF;text-decoration: none;}
.eventrightcontent{float:right; width:46%; color: #FFFFFF;text-decoration: none;}

.sorting{background:url(../img/shortingicon.png) no-repeat; color: #fff; padding:0 0 0 20px; font-size:12px;}
.searchbar{background:rgba(0, 0, 0, 0.5); width:60%; padding:10px; border-radius:5px; float:left; }
.searchbar input[type=text]{float:left; background:none; border:none; font-family:Arial, Helvetica, sans-serif; font-size:12px;  color: #fff; line-height:23px;}
.searchbar input[type=submit]{float:right; width:24px; height:24px; background:url(../img/searchbtn.png) no-repeat; border:none;}
.categorylink{ color: #fff;  float: right;   font-size: 16px;    margin: 12px;    text-decoration: none;}

.eventdetail{clear:both; padding:20px;}
.eventdetailimg{width:84%; display:block; margin:auto;  border:1px solid #fff !important;}
.eventdetailimg img{width:100%;}
.eventdetail span{ float: right;  width: 40%; }
.eventdetail span select{width:99%; background:rgba(0, 0, 0, 0.5); font-family:Arial, Helvetica, sans-serif; font-size:12px;  color: #fff; line-height:23px; border-radius:5px; padding:5px; margin-top:-5px;}
.eventdetail h3,.eventdetail h2{height:30px; margin-bottom:5px; color: white;}
.eventdetail button{margin-top:15px;}
.ui-bar-a, .ui-page-theme-a .ui-bar-inherit, html .ui-bar-a .ui-bar-inherit, html .ui-body-a .ui-bar-inherit, html body .ui-group-theme-a .ui-bar-inherit{
border : none; background: none;
}

.jqm-header h2.ui-title img{width:100%;}
#signup .ui-btn-hidden{display:none;}

#eventListPage .ui-content,#eventListPage .eventblock{padding-top:0;}
#eventListPage #eventList,#movieListPage #movieList{margin:0;} 
#eventList a.ui-link-inherit img,#movieList a.ui-link-inherit img{float:left; position:static; margin-right: 10px;} 
#eventList h2.ui-li-heading,#movieList h2.ui-li-heading{float:left; width:46%; text-align:left;  font-size: 14px;   color: #797b81;    font-weight: bold; margin:0; }
#eventList h3.ui-li-heading,#movieList h3.ui-li-heading{float:left; width:46%; text-align:left; font-size: 12px;  color: #fff;    padding: 5px 0 0; margin:0;}

.eventdetail a{clear:both;}
h3 .ui-select div.ui-btn{background: none;padding: 6px 0; margin-top:-11px;}
h3 .ui-select div.ui-btn span{float:left; font-size:12px;}
.eventblock li.ui-li-has-thumb a{width: 100px; height: 100px;overflow: hidden;display: block;float: left; margin-right:10px; background:none !important; border:none !important; padding-left:0 !important; min-height:inherit !important; padding:0;}
.eventblock li a.ui-icon-carat-r:after{background:none; border:none; display:none;}
.eventblock li.ui-li-has-thumb a img{width: 100%; max-width:inherit !important; max-height:inherit !important;}

.CheckOutblock{clear:both;}
.CheckOutblock td{padding:5px; font-size:12px;}
.CheckOutblock td .ui-select{width: 38px; margin:0;}
.CheckOutblock td .ui-btn{padding:.4em 5px; font-size: 12px; text-align:left; font-weight:normal;}
.CheckOutblock td .ui-btn-icon-left:after,.CheckOutblock td  .ui-btn-icon-right:after,.CheckOutblock td  .ui-btn-icon-top:after,.CheckOutblock td  .ui-btn-icon-bottom:after,.CheckOutblock td  .ui-btn-icon-notext:after{width: 10px;border-radius: 5px; height: 10px; background-color:none !important; font-weight:normal;}
.CheckOutblock td .ui-btn-icon-notext:after,.CheckOutblock td  .ui-btn-icon-left:after,.CheckOutblock td  .ui-btn-icon-right:after{top: 27%;
 margin-top: 0px; }

.totalprice{padding:10px 0;}
.eventdetail span select#selectTicket_7{width:71%;}
.eventdetail span select#selectTicket_8{width:65%; margin-top: 10px;}
.MarT15{margin-top:15px !important;}

/*----------14Dec CSS----------*/
.alert-success {
    background-color: #e1ffd9;
    border: 1px solid #92da7f; color: #468847; margin-bottom: 20px;
}
.alert {
    position: relative; padding: 15px 15px 15px 56px;font-size:14px; 
}
.alert-warning {
    background-color: #fff9d5;
    border: 1px solid #f0d229; color: #c09853;margin-bottom: 20px;
}
.alert-danger {
    background-color: #ffd3d0;
    border: 1px solid #f25549; color: #b94a48;margin-bottom: 20px;
}
.alert-info {
    background-color: #e7f4ff;
    border: 1px solid #9ac8f1; color: #3a87ad;margin-bottom: 20px;
}
.alert-success span {
    background-color: #92da7f;
}
.alert span {
    bottom: 0;
    color: #fff;
    font-size: 15px;
    left: 0;
    padding-left: 13px;
    padding-top: 15px;
    position: absolute;
    top: 0;
    width: 32px;
}
.alert-success .close {
    color: #92da7f;
}
.alert .close {
    opacity: 1;
}
.close {
    float: right;text-decoration: none;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;  position: absolute;
    right: 5px;
    top: 12px;
}
.alert-warning span {
    background-color: #f0d229;
}
.alert-warning .close {
    color: #f0d229;
}
.alert-danger span {
    background-color: #f25549;
}
.alert-danger .close {
    color: #f25549;
}
.alert-info span {
    background-color: #9ac8f1;
}
.alert-info .close {
    color: #9ac8f1;
}