*{margin:0; padding:0;}

body{background:#323542; font-family:Arial, Helvetica, sans-serif;}
.formcontent{color:#fff; }

.ui-content form input[type=text]{background:url(../img/usericon.png) no-repeat scroll 10px 9px / 9% auto #474a55; width: 80%; padding:17px 0 12px 50px; color:#797b81; font-size:15px; border:none; border-radius:4px; -webkit-border-radius:4px; -khtml-border-radius:4px; margin-bottom:10px;  font-family:Arial, Helvetica, sans-serif;}

.ui-content form input[type=email]{background:url(../img/emailicon.png) no-repeat scroll 10px 14px / 11% auto #474a55; width: 80%; padding:17px 0 12px 50px; color:#797b81; font-size:15px; border:none; border-radius:4px; -webkit-border-radius:4px; -khtml-border-radius:4px; margin-bottom:10px;  font-family:Arial, Helvetica, sans-serif;}
.ui-content form input[type=password]{background:url(../img/lockicon.png) no-repeat scroll 10px 9px / 10% auto #474a55; width: 80%; padding:17px 0 12px 50px; color:#797b81; font-size:15px; border:none; border-radius:4px; -webkit-border-radius:4px; -khtml-border-radius:4px; margin-bottom:10px; font-family:Arial, Helvetica, sans-serif; }


.agreetxt{clear:both; padding:15px 0; font-size:14px; color:#6d6f76;}

.agreetxt input[type=checkbox]{float: left;    margin: 2px 5px 0 0;}

.formcontent button[type=submit],.eventdetail button[type=submit]{ width: 97%; text-align:center; padding:17px 0; color:#fff; font-size:15px; border:none; border-radius:4px; -webkit-border-radius:4px; -khtml-border-radius:4px; margin-top:5px;  font-family:Arial, Helvetica, sans-serif; cursor:pointer; background:#0bd38a;}

.forgotlink{clear:both; padding:15px 0; font-size:14px; color:#6d6f76;}
.forgotlink a{color:#6d6f76;text-decoration:none;}
.sinuplink{float:right; text-decoration:underline !important;}
.copyrighttxt{ font-size:12px; clear:both; color:#fff; padding:70px 0 0 0; text-align:center;}

.iconblock{clear:both; padding-bottom:10px; clear:both;}
.iconblock img {border: 1px solid #fff; border-radius: 5px; float: left;margin-right: 10px;  margin-top: 10px;  text-align: center; width: 28%; margin-bottom:20px;}
.clear{clear:both;}
.cakeiconblock img{margin-left:50px}

.mainbg{background:url(../img/mainimg.png) no-repeat; background-size:cover;}

.termstitle{text-align:left !important; border-bottom:1px solid #fff; padding:10px; margin:15px auto !important;  width:85% !important; }
.formcontent p{font-size:12px; line-height:18px; padding-bottom:20px;}

.eventblock{padding:10px !important;/* width: 22% ;*/ margin: auto; color:#fff; float:none !important; }
.eventblock ul{clear:both; list-style:none; padding:10px 0 0 0 !important;}
.eventblock li{background: none repeat scroll 0 0 rgba(0, 0, 0, 0.21);    border-bottom: 1px solid #fff;    float: left;
    padding: 10px 3%;    width: 96%;}
.eventblock img{float:left;   /*width: 50%;*/}
.eventblock h2{font-size:14px; padding:0px 0 0 0;}
.eventblock h2 a{color: #797b81; font-weight:bold !important;}
.eventblock h3{ font-size:12px; padding:5px 0 0 0;}
.eventrightcontent{float:right; width:46%;}

.sorting{background:url(../img/shortingicon.png) no-repeat; color: #fff; padding:0 0 0 20px; font-size:12px;}
.searchbar{background:rgba(0, 0, 0, 0.5); width:60%; padding:10px; border-radius:5px; float:left; }
.searchbar input[type=text]{float:left; background:none; border:none; font-family:Arial, Helvetica, sans-serif; font-size:12px;  color: #fff; line-height:23px;}
.searchbar input[type=submit]{float:right; width:24px; height:24px; background:url(../img/searchbtn.png) no-repeat; border:none;}
.categorylink{ color: #fff;  float: right;   font-size: 16px;    margin: 12px;    text-decoration: none;}

.eventdetail{clear:both; padding:20px;}
.eventdetailimg{width:98%; border:2px solid #fff;}
.eventdetail span{ float: right;  width: 40%; }
.eventdetail span select{width:95%; background:rgba(0, 0, 0, 0.5); font-family:Arial, Helvetica, sans-serif; font-size:12px;  color: #fff; line-height:23px; border-radius:5px; padding:5px;}
.eventdetail h3,.eventdetail h2{height:30px; margin-bottom:5px;}
.eventdetail button{margin-top:15px !important;}