<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.quicken"
        version   = "1.0.0">

    <name>Hello World</name>

    <description>
        Quicken App
    </description>

    <author href="http://quickentech.in" email="support@quickentech.in">
        CMS Experts
    </author>



    <!-- Define app splash screen for each platform. -->
    <gap:splash src="img/logo.png"       gap:platform="android" gap:qualifier="port-ldpi" />
   
  
</widget>
